layout {
    pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
            color_base "#1e1e2e"
            color_text "#cdd6f4"
            color_subtext1 "#bac2de"
            color_surface1 "#45475a"
            color_lavender "#b4befe"
            color_mauve "#cba6f7"
            color_green "#a6e3a1"
            color_blue "#89b4fa"
            color_peach "#fab387"
            color_yellow "#f9e2af"

            format_left "{mode}"
            format_center "{tabs}"
            format_right "#[fg=$yellow]{session} "
            format_space ""

            border_enabled "false"

            mode_normal "#[fg=$green,bold] NORMAL "
            mode_pane "#[fg=$blue,bold] PANE "
            mode_tab "#[fg=$mauve,bold] TAB "
            mode_resize "#[fg=$peach,bold] RESIZE "
            mode_locked "#[fg=$yellow,bold] LOCKED "
            mode_move "#[fg=$blue,bold] MOVE "
            mode_session "#[fg=$lavender,bold] SESSION "
            mode_scroll "#[fg=$peach,bold] SCROLL "
            mode_search "#[fg=$peach,bold] SEARCH "
            mode_enter_search "#[fg=$peach,bold] SEARCH "
            mode_rename_tab "#[fg=$mauve,bold] RENAME TAB "
            mode_rename_pane "#[fg=$blue,bold] RENAME PANE "
            mode_prompt "#[fg=$yellow,bold] PROMPT "
            mode_tmux "#[fg=$green,bold] TMUX "
            mode_default_to_mode "normal"

            tab_normal "#[fg=$subtext1] {name} "
            tab_active "#[fg=$mauve,bold] {name} "
            tab_normal_fullscreen "#[fg=$subtext1] {name} "
            tab_active_fullscreen "#[fg=$mauve,bold] {name} "
            tab_normal_sync "#[fg=$subtext1] {name} "
            tab_active_sync "#[fg=$mauve,bold] {name} "
            tab_rename "#[fg=$peach,bold] {name} "
            tab_separator "#[fg=$surface1]│"
        }
    }
    pane
}
